{% load static  %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Bem-Vindo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'polls/materialize.css' %}">
    </head>

<div class="navbar-fixed"> 
    <nav><!-- NavBar -->
    
        <div class="nav-wrapper">
           <a href="" class="brand-logo" >
           <img src="{% static 'polls/MarioSonic1.gif' %}"class='navimg'></a>
           
          </ul>
        </div>
    </nav>
</div>
<body>

<div class="caixaCarta">

  <div class="row"><!--Coluna 3-->

    <div class="col s4"><!--carta começa--> <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{% static 'polls/produtos/SC.png' %}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Sonic Chaos<i class="material-icons right">Leia mais</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Master System<i class="material-icons right">Fechar</i></span>
        <p>Sonic Chaos, chamado no Japão de Sonic & Tails, é um jogo de plataforma para Sega Master System e Sega Game Gear desenvolvido pela Aspect e publicado em 1993. Esse foi o último jogo intitulado Sonic lançado para Master System na Europa. <br>Data de lançamento: 25 de outubro de 1993.</p>
      </div>
    </div>    <!--carta termina--> </div>
    <div class="col s4"><!--carta começa--> <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{% static 'polls/produtos/SMAS.png' %}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Super Mario All-Stars<i class="material-icons right">Leia mais</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Super Nintendo<i class="material-icons right">Fechar</i></span>
        <p>Super Mario All-Stars, conhecido no Japão como Super Mario Collection, é uma 
          compilação de jogos eletrônicos de plataforma desenvolvido pela Nintendo Entertainment 
          Analysis & Development e publicado pela Nintendo em 1993 para o Super Nintendo Entertainment
           System.<br>Data de lançamento: 14 de julho de 1993.</p>
      </div>
    </div>    <!--carta termina-->
  </div>
    <div class="col s4"><!--carta começa--> <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{% static 'polls/produtos/TLW.png' %}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">The Lost World - JP<i class="material-icons right">Leia mais</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Game Gear<i class="material-icons right">Fechar</i></span>
        <p>O mundo perdido: Jurassic Park é um videogame desenvolvido pela Aspect e publicado pela Sega em 1997 para o Game Gear. 
          Foi lançado simultaneamente com o filme "O mundo perdido: Jurassic Park" de Steven Spielberg, 
          lançado no mesmo ano.<br>Data de lançamento: 26 de agosto de 1997.</p>
      </div>
    </div>    <!--carta termina--></div>
    <div class="col s4"><!--carta começa--> <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{% static 'polls/produtos/MM.png' %}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Zelda - Majora's Mask<i class="material-icons right">Leia mais</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Nintendo 64<i class="material-icons right">Fechar</i></span>
        <p>The Legend of Zelda: Majora's Mask (ゼルダの伝説: ムジュラの仮面 Zeruda no Densetsu: Mujura no Kamen?) é um jogo eletrônico de 
          ação-aventura desenvolvido e publicado pela Nintendo para o console Nintendo 64. Ele foi lançado mundialmente em 2000 como o 
          sexto jogo da série The Legend of Zelda e o segundo a empregar gráficos em 3D depois de The Legend of Zelda: 
          Ocarina of Time de 1998, do qual ele é uma sequência direta.<br>Data de lançamento: 27 de abril de 2000. </p>
      </div>
    </div>    <!--carta termina--> </div>
    <div class="col s4"><!--carta começa--> <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{% static 'polls/produtos/ST.png' %}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Piu-Piu e Frajola<i class="material-icons right">Leia mais</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Mega drive - GENESIS<i class="material-icons right">Fechar</i></span>
        <p>Sylvester and Tweety in Cagey Capers é um jogo de plataforma 2D com os personagens de Looney Tunes Sylvester(Frajola) e 
          Tweety(Piu-Piu). Foi lançado para o console Genesis/Mega Drive em 1994 e foi o primeiro 
          videogame a estrelar Piu-Piu e Frajola.<br>Data de lançamento: 1993.</p>
      </div>
    </div>    <!--carta termina-->
  </div>
    <div class="col s4"><!--carta começa--> <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{% static 'polls/produtos/G5K.png' %}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Galaxy 5000<i class="material-icons right">Leia mais</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">NES - Nintendo 8 Bits<i class="material-icons right">Fechar</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>    <!--carta termina--></div>
    <div class="col s4"><!--carta começa--> <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{% static 'polls/logo.png' %}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">Leia mais</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">Fechar</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>    <!--carta termina--> </div>
    <div class="col s4"><!--carta começa--> <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{% static 'polls/logo.png' %}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">Leia mais</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">Fechar</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>    <!--carta termina-->
  </div>
    <div class="col s4"><!--carta começa--> <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{% static 'polls/logo.png' %}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">Leia mais</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">Fechar</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>    <!--carta termina--></div>
  
  
  
  
  </div><!--Coluna-->
  </div><!--caixaCarta-->
<!--deleta-->


</div>

    <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s4">
              <h5 class="white-text"><img src="{% static 'polls/logo.png' %}"class='navimg'></h5>
              <p class="grey-text text-lighten-4">Projeto de estudo Django.</p>
            </div>
            <div class="col l4 offset-l2 s4">
              
              <ul>
                <li><a class="grey-text text-lighten-3" href="https://github.com/HunterLowBit/E-commerce_Django_study">GITHUB <img src="{% static 'polls/git.png' %}"class='fimg'></a></li>
                <li><a class="grey-text text-lighten-3" href="https://www.youtube.com/@HunterLowBit">YouTube <img src="{% static 'polls/hlb.png' %}"class='fimg'></a></li>
              

              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2022 Robson - HunterLowBit
          <a class="grey-text text-lighten-3 right" href="pythonanywhere.com">PYTHON_ANYWHERE<br><img src="{% static 'polls/pa.png' %}"class='fimgL'></a>
          </div>
        </div>
      </footer>

        <script type="text/javascript" src="{% static 'polls/materialize.js' %}"></script>
    </body>
</html>

