body{
   background-color: black;
}

.caixaCarta{
border-width: 5px;
padding: auto;
width:30%;

}

.navimg{
    
    width: 65px;
    height: 65px;
    border-style:outset;
    border-radius: 3px;
}

.fimg{
 
   width: 30px;
   height: 30px;
}
.fimgL{
   width: 145px;
   height: 25px;
}