body{
   background-color: black;
}

.caixaCarta{
   padding: 20px;
   height: 80%;
justify-content: center;
align-items: center;
}

.navimg{
    
    width: 65px;
    height: 65px;
    border-style:outset;
    border-radius: 3px;
}

.fimg{
 
   width: 30px;
   height: 30px;
}
.fimgL{
   width: 145px;
   height: 25px;
}
body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

 